<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="../public/css/chat.css">
</head>
<body>
  <h2 style = "text-align:center;color:grey">Group Chat</h2>
  <div id="title" style = "text-align:center;color:darkblue"></div>
   <div class="sidebar">
      <div>
        <button id="creategroup" style = "position:fixed; top:50px;" class="btn btn-outline-dark">Create Group</button>
        <button id="admin" style = "position:fixed; top:50px;right:20px" class="btn btn-outline-dark">Admin Tasks</button>  
      </div>
      <ul class="group-list"></ul>
   </div>
   <div class = 'container'>
    
    <div id="chat"></div>
  </div>
     <form id="my-form" style="text-align:center"> 

      <input type="text" id="message" name="message" style = "position:fixed; bottom:20px; left:260px; right:160px; width: 75%;"  class="form-control" required placeholder="Enter Message">
      <button class="btn btn-outline-dark" style = "position:fixed; bottom:20px; right:20px">Send</button><br>
      
     </form>
     <form id="file-form" style="text-align:center"> 

      <input type="file" id="files" name="file" style = "position:fixed; bottom:60px; left:320px;">
      <button class="btn btn-outline-dark" style = "position:fixed; bottom:60px; left:260px">Send</button><br>
      
     </form>
     <div>
      <button id="groupmembers" style = "position:fixed; top:12px; right:20px;" class="btn btn-outline-dark">Members</button> 
    </div>
    <div id="creategroupmodal" class="modal">
      <div class="modal-content">
       <span class="creategroupclose">&times;</span>
       <h2 style = "text-align:center;color:grey">Create New Group</h2>
       <form id="creategroupform" style="text-align:center"> 

        <label for="creategroupname" class="form-label">Group Name:</label>
        <input type="text" id="creategroupname" name="creategroupname" required unique="true" class="form-control" placeholder="Enter Group Name"><br>
             
        <button class="btn btn-outline-dark">Create</button> 
       </form>
      </div>
     </div>
     <div id="invitemembermodal" class="modal">
      <div class="modal-content">
        <span class="invitememberclose">&times;</span>
        <h2 style = "text-align:center;color:grey">Invite Members</h2>
        <form id="invitememberform" style="text-align:center"> 

          <label for="invitememberemail" class="form-label">Member Email:</label>
          <input type="text" id="invitememberemail" name="invitememberemail" required class="form-control" placeholder="Enter Member Email"><br>
               
          <button class="btn btn-outline-dark">Invite</button> 
         </form>
      </div>
    </div>
    <div id="admintaskmodal" class="modal">
      <div class="modal-content">
        <span class="admintaskclose">&times;</span>
        <h2 style = "text-align:center;color:grey">Admin Tasks</h2>
        <form id="admintaskform" style="text-align:center"> 

          <label for="admintaskemail" class="form-label">User Email:</label>
          <input type="text" id="admintaskemail" name="admintaskemail" required class="form-control" placeholder="Enter User Email"><br>
             
          <!-- <label for="admintaskgroupname" class="form-label">Group Name:</label>
          <input type="text" id="admintaskgroupname" name="admintaskgroupname" required class="form-control" placeholder="Enter Group Name"> -->

          <button type="button" id="makeadminbutton" class="btn btn-outline-dark">Make Admin</button> 
          <button type="button" id="adduserbutton" class="btn btn-outline-dark">Add User</button>
          <button type="button" id="removeuserbutton" class="btn btn-outline-dark">Remove User</button><br>

        </form>
      </div>
    </div>
  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.min.js"></script>
    <script src="chat.js"></script>   
</body>
</html>